In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

## Data of May, 2015

In [2]:
path = "./data/road_traffic_collisions/road-traffic-collisions-2012-5.xls"

In [3]:
data_2015_5 = pd.read_excel(path)
data_2015_5.head()

,Reference,Date,Year,Month,Day,Day.1,Time,Severity,Road_Class,Main_rd_no,...,Vehicle_2_Location,Vehicle_ 2_Skidding,Vehicle_3_Type,V3_Manouvres,V3_From_Direction,V3_To_Direction,V3_Location,V3_Skidding,Easting,Northing
0,2412,20120103,2012,1,3,Tuesday,1140,Slight,A,1198,...,Approaching jnctn or waiting/parked,Skidded,NaN,NaN,NaN,NaN,NaN,NaN,525250.3192,269592.7491
1,2612,20120103,2012,1,3,Tuesday,1244,Slight,A,505,...,"Not at,or within 20m of, junction",Did not skid,NaN,NaN,NaN,NaN,NaN,NaN,546715.1485,246747.0387
2,2712,20120103,2012,1,3,Tuesday,1317,Serious,A,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,518665.2610,264848.0873
3,2912,20121221,2012,12,21,Friday,15,Serious,U,0,...,Mid jnctn - on rbout or main road,Did not skid,NaN,NaN,NaN,NaN,NaN,NaN,519514.8238,299836.2220
4,3112,20120103,2012,1,3,Tuesday,1745,Slight,U,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,542037.4532,296531.1881

Number of samples and features of raw data

In [4]:
data_2015_5.shape

(2319, 54)

Number of duplicated samples

In [5]:
data_2015_5.index.duplicated().sum()

0

Number of missing values of each feature

In [6]:
data_2015_5.isna().sum()

Reference                      0
Date                           0
Year                           0
Month                          0
Day                            0
Day.1                          0
Time                           0
Severity                       0
Road_Class                     0
Main_rd_no                     0
Junction Detail                0
Light                          0
Weather                        0
Surface                        0
Speed_limit                    0
Cycle                          0
TWMV                           0
Child                          0
Child_Pedestrian               0
Ped                            0
Skid                           0
HGV                            0
LGV                            0
PSV                            0
School Journey                 0
Unnamed: 25                    0
Pedestrian-1_Sex            2088
Pedestrian_1_Age               0
Pedestrian_1_Severity       2088
Pedestria_1_Location        2092
Pedestrian-1_Movement       2091
Pedestrian_1_Mov_To         2088
Location                       0
Number_Vehicles                0
Vehicle_1_Type                 0
Vehicle_1_Manouvres            0
Vehicle_1_From_Direction       0
Vehicle_1_To_Direction         0
Vehicle_1_Location             0
Vehicle_1_Skidding             0
Vehicle_2_Type               630
Vehicle_2_Manouvres          632
Vehicle_2_From_Direction     630
Vehicle_2_To_Direction       630
Vehicle_2_Location           630
Vehicle_ 2_Skidding          630
Vehicle_3_Type              2093
V3_Manouvres                2093
V3_From_Direction           2093
V3_To_Direction             2093
V3_Location                 2093
V3_Skidding                 2093
Easting                        0
Northing                       0
dtype: int64

Some properties of numeric data

In [7]:
data_2015_5._get_numeric_data().describe()

,Reference,Date,Year,Month,Day,Time,Main_rd_no,Speed_limit,Unnamed: 25,Pedestrian_1_Age,Number_Vehicles,Easting,Northing
count,2319.000000,2.319000e+03,2319.0,2319.000000,2319.000000,2319.000000,2319.000000,2319.000000,2319.000000,2319.000000,2319.000000,2319.000000,2319.000000
mean,317518.511427,2.012070e+07,2012.0,6.875377,15.782665,1356.081501,465.569642,43.691246,0.102199,3.079776,1.862872,533668.064991,278766.313129
std,176438.845667,3.451519e+02,0.0,3.453561,8.763021,489.316355,522.974118,16.037635,0.314160,11.608070,0.711787,14449.117584,19654.708555
min,112.000000,2.012010e+07,2012.0,1.000000,1.000000,0.000000,0.000000,20.000000,0.000000,0.000000,1.000000,502159.308200,238872.962600
25%,167012.000000,2.012042e+07,2012.0,4.000000,8.000000,940.000000,11.000000,30.000000,0.000000,0.000000,1.000000,519374.216650,259722.404450
50%,326412.000000,2.012072e+07,2012.0,7.000000,16.000000,1425.000000,221.000000,30.000000,0.000000,0.000000,2.000000,533382.538400,274887.003700
75%,472862.000000,2.012101e+07,2012.0,10.000000,23.000000,1725.000000,1090.000000,60.000000,0.000000,0.000000,2.000000,545963.355550,298878.241250
max,904612.000000,2.012123e+07,2012.0,12.000000,31.000000,2355.000000,6118.000000,70.000000,3.000000,93.000000,9.000000,570433.130300,316690.827400

In [8]:
cate_features = data_2015_5.select_dtypes(include='object').columns.to_list()

Some features of categorical features

In [9]:
pd.set_option('display.max_colwidth', 200)
def missing_ratio(df):
    return (df.isna().mean() * 100).round(1)
def num_values(df):
    return df.nunique()
def value_ratios(c):
    return dict((c.value_counts(normalize=True) * 100).round(1))
infor = data_2015_5[cate_features].agg([missing_ratio, num_values, value_ratios])
infor.T

,missing_ratio,num_values,value_ratios
Day.1,0,7,"{'Friday': 17.6, 'Monday': 15.9, 'Wednesday': 15.5, 'Thursday': 14.7, 'Tuesday': 14.6, 'Saturday': 12.2, 'Sunday': 9.5}"
Severity,0,3,"{'Slight': 85.4, 'Serious': 13.3, 'Fatal': 1.3}"
Road_Class,0,6,"{'A': 45.3, 'C': 20.1, 'U': 19.0, 'B': 14.4, 'M': 0.7, 'A(M)': 0.5}"
Junction Detail,0,8,"{'Not at junction': 43.0, ''T'/staggered junctn': 27.3, 'Roundabout': 13.8, 'Private drive/entry': 7.1, 'Cross roads': 5.2, 'Slip road': 1.7, 'Mini-roundabout': 1.1, 'Uncoded junction': 0.9}"
Light,0,2,"{'Day': 74.7, 'Dark': 25.3}"
Weather,0,8,"{'Fine (no wind)': 71.6, 'Rain (no wind)': 11.7, 'Unknown': 10.1, 'Uncoded': 3.2, 'Raining & windy': 1.2, 'Fine & windy': 1.0, 'Fog/mist': 0.8, 'Snow (no wind)': 0.3}"
Surface,0,6,"{'Dry': 67.7, 'Wet/damp': 29.5, 'Frost/Ice': 1.8, 'Unknown': 0.6, 'Snow': 0.2, 'Flood >3cm': 0.1}"
Cycle,0,2,"{'N': 78.7, 'Y': 21.3}"
TWMV,0,2,"{'N': 88.1, 'Y': 11.9}"
Child,0,2,"{'N': 90.0, 'Y': 10.0}"
Child_Pedestrian,0,2,"{'N': 96.9, 'Y': 3.1}"
Ped,0,2,"{'N': 90.0, 'Y': 10.0}"
Skid,0,2,"{'N': 78.7, 'Y': 21.3}"
HGV,0,2,"{'N': 93.9, 'Y': 6.1}"
LGV,0,2,"{'N': 92.5, 'Y': 7.5}"
PSV,0,2,"{'N': 98.2, 'Y': 1.8}"
School Journey,0,2,"{'N': 98.4, 'Y': 1.6}"
Pedestrian-1_Sex,90,2,"{'Male': 58.4, 'Female': 41.6}"
Pedestrian_1_Severity,90,3,"{'Slight': 78.8, 'Serious': 19.5, 'Fatal': 1.7}"
Pedestria_1_Location,90.2,8,"{' In c/w and crossing road': 42.7, ' On footway/verge': 17.6, ' In c/w not crossing': 12.3, ' In c/w on pedestrian Xing': 11.0, ' Unknown': 7.0, ' In c/w within 50m of Xing': 6.6, ' In cntr c/w n..."
Pedestrian-1_Movement,90.2,9,"{'Crossing from driver's nearside': 32.0, 'Not known': 26.8, 'Crossing from driver's offside': 14.0, 'In c/w standing/playing': 10.1, 'Crossing from driver's nearside (masked)': 7.0, 'Crossing fro..."
Pedestrian_1_Mov_To,90,10,"{'Unknown': 20.3, 'Standing still': 16.5, 'Towards E': 15.6, 'Towards W': 13.9, 'Towards S': 9.5, 'Towards N': 7.8, 'Towards NW': 5.2, 'Towards SE': 4.3, 'Towards SW': 3.9, 'Towards NE': 3.0}"
Location,0,2281,"{'A605 EASTREA RD JUNCTION CEMETERY RD WHITTLESEY': 0.2, 'LINCOLN RD JUNCTION ALMA RD PETERBOROUGH': 0.1, 'PARK RD JUNCTION BURGHLEY RD PETERBOROUGH': 0.1, 'MILL RD JUNCTION TENISON RD CAMBRIDGE':..."
Vehicle_1_Type,0,14,"{'Car': 75.5, 'Pedal cycle': 5.0, 'Van/GV <=3.5t mgw': 4.9, 'GV >= 7.5t mgw': 2.9, 'Taxi/private hire ca': 2.7, 'Motorcycle >500cc': 2.3, 'Motorcycle >50 <= 12': 1.8, 'Motorcycle <=50cc': 1.3, 'Bu..."
Vehicle_1_Manouvres,0,18,"{'Going ahead': 41.2, 'Turning right': 12.7, 'Slow or stopping': 8.2, 'Moving off': 7.5, 'Going ahead right hand bend': 5.4, 'Going ahead left hand bend': 5.3, 'Turning left': 5.1, 'Ovrtking movin..."
Vehicle_1_From_Direction,0,9,"{'N': 14.1, 'S': 13.1, 'E': 12.1, 'W': 11.3, 'SE': 10.9, 'NW': 10.7, 'SW': 10.0, 'NE': 9.3, 'Parked': 8.5}"
Vehicle_1_To_Direction,0,9,"{'S': 13.3, 'W': 13.0, 'N': 12.8, 'NW': 11.3, 'E': 10.7, 'SW': 10.2, 'SE': 10.1, 'NE': 9.8, 'Parked': 8.8}"
Vehicle_1_Location,0,9,"{'Not at,or within 20m of, junction': 43.0, 'Approaching jnctn or waiting/parked': 15.8, 'Entering main road': 11.9, 'Mid jnctn - on rbout or main road': 9.9, 'Leaving main road': 7.3, 'Entering r..."
Vehicle_1_Skidding,0,6,"{'Did not skid': 79.8, 'Skidded': 13.4, 'Skidded/ovrtn': 3.8, 'Overturned': 2.9, 'Jacknfe/ovrtn': 0.0, 'Jackknifed': 0.0}"
Vehicle_2_Type,27.2,15,"{'Car': 60.4, 'Pedal cycle': 22.4, 'Van/GV <=3.5t mgw': 3.1, 'Motorcycle >50 <= 12': 2.7, 'Motorcycle >500cc': 2.5, 'GV >= 7.5t mgw': 2.4, 'Motorcycle <=50cc': 1.6, 'Taxi/private hire ca': 1.2, 'M..."
Vehicle_2_Manouvres,27.3,18,"{'Going ahead': 46.9, 'Slow or stopping': 13.3, 'Waiting to go ahd but held up': 9.0, 'Turning right': 7.6, 'Parked': 3.6, 'Going ahead right hand bend': 3.1, 'Waiting to turn right': 3.0, 'Going ..."
Vehicle_2_From_Direction,27.2,9,"{'S': 14.1, 'N': 13.5, 'SW': 12.0, 'W': 11.7, 'E': 11.1, 'SE': 10.4, 'Parked': 9.7, 'NW': 9.5, 'NE': 8.0}"
Vehicle_2_To_Direction,27.2,9,"{'N': 13.6, 'S': 13.1, 'E': 12.2, 'W': 11.7, 'SE': 10.5, 'NE': 10.4, 'Parked': 10.3, 'NW': 9.8, 'SW': 8.4}"
Vehicle_2_Location,27.2,9,"{'Not at,or within 20m of, junction': 34.2, 'Mid jnctn - on rbout or main road': 30.1, 'Approaching jnctn or waiting/parked': 20.3, 'Leaving main road': 3.8, 'Entering main road': 3.1, 'Entering r..."
Vehicle_ 2_Skidding,27.2,4,"{'Did not skid': 91.2, 'Skidded': 5.9, 'Overturned': 1.6, 'Skidded/ovrtn': 1.3}"
Vehicle_3_Type,90.3,10,"{'Car': 85.8, 'Van/GV <=3.5t mgw': 5.3, 'GV >= 7.5t mgw': 2.7, 'Pedal cycle': 1.3, 'GV >3.5 < 7.5t mgw': 1.3, 'Motorcycle >50 <= 12': 1.3, 'Other vehicle - spec': 0.9, 'Motorcycle <=50cc': 0.4, 'M..."
V3_Manouvres,90.3,14,"{'Slow or stopping': 31.0, 'Going ahead': 26.5, 'Waiting to go ahd but held up': 15.0, 'Parked': 10.2, 'Waiting to turn right': 5.3, 'Going ahead left hand bend': 3.5, 'Going ahead right hand bend..."
V3_From_Direction,90.3,9,"{'Parked': 15.0, 'W': 14.6, 'E': 14.2, 'S': 11.9, 'N': 11.1, 'SW': 10.2, 'NW': 9.3, 'SE': 8.4, 'NE': 5.3}"
V3_To_Direction,90.3,9,"{'E': 15.5, 'Parked': 15.0, 'W': 13.7, 'N': 12.4, 'SE': 10.6, 'S': 9.7, 'NE': 9.3, 'NW': 8.4, 'SW': 5.3}"
V3_Location,90.3,9,"{'Not at,or within 20m of, junction': 54.4, 'Approaching jnctn or waiting/parked': 24.3, 'Mid jnctn - on rbout or main road': 9.3, 'Entering from slip road': 4.9, 'Cleared jnctn or waiting/parked ..."
V3_Skidding,90.3,4,"{'Did not skid': 94.7, 'Skidded': 4.4, 'Overturned': 0.4, 'Skidded/ovrtn': 0.4}"

Select features having large missing ratio and drop them
We also drop "Date" feature because there have already been year, month, day features

In [10]:
top_missing_features = infor.T[infor.T['missing_ratio'] >= 90].index.to_list()
top_missing_features

['Pedestrian-1_Sex',
 'Pedestrian_1_Severity',
 'Pedestria_1_Location',
 'Pedestrian-1_Movement',
 'Pedestrian_1_Mov_To',
 'Vehicle_3_Type',
 'V3_Manouvres',
 'V3_From_Direction',
 'V3_To_Direction',
 'V3_Location',
 'V3_Skidding']

In [11]:
# data= data_2015_5.drop(columns=top_missing_features,)
# data.drop(columns=["Date"], inplace=True)
data = data_2015_5.drop(columns=["Date"])

Using SimpleImputer to fill missing values of data

In [12]:
cate_features = data.select_dtypes(include='object').columns.to_list()
num_features = data.select_dtypes(exclude='object').columns.to_list()

In [13]:
data[num_features].head(2)

,Reference,Year,Month,Day,Time,Main_rd_no,Speed_limit,Unnamed: 25,Pedestrian_1_Age,Number_Vehicles,Easting,Northing
0,2412,2012,1,3,1140,1198,60,0,0,2,525250.3192,269592.7491
1,2612,2012,1,3,1244,505,50,0,0,2,546715.1485,246747.0387

In [14]:
data[cate_features].head(2)

,Day.1,Severity,Road_Class,Junction Detail,Light,Weather,Surface,Cycle,TWMV,Child,...,Vehicle_2_From_Direction,Vehicle_2_To_Direction,Vehicle_2_Location,Vehicle_ 2_Skidding,Vehicle_3_Type,V3_Manouvres,V3_From_Direction,V3_To_Direction,V3_Location,V3_Skidding
0,Tuesday,Slight,A,'T'/staggered junctn,Day,Raining & windy,Wet/damp,N,N,N,...,SE,N,Approaching jnctn or waiting/parked,Skidded,NaN,NaN,NaN,NaN,NaN,NaN
1,Tuesday,Slight,A,Not at junction,Day,Fine (no wind),Wet/damp,N,N,N,...,Parked,Parked,"Not at,or within 20m of, junction",Did not skid,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
num_imputer = [('num', SimpleImputer(missing_values= np.nan, strategy='mean'))]
cate_imputer =[('cate', SimpleImputer(missing_values= np.nan, strategy='most_frequent'))]

In [16]:
tsf = ColumnTransformer([('num', Pipeline(num_imputer), num_features), ('cate', Pipeline(cate_imputer), cate_features)])
data = pd.DataFrame(tsf.fit_transform(data), columns = [*num_features, *cate_features])
data.head()

,Reference,Year,Month,Day,Time,Main_rd_no,Speed_limit,Unnamed: 25,Pedestrian_1_Age,Number_Vehicles,...,Vehicle_2_From_Direction,Vehicle_2_To_Direction,Vehicle_2_Location,Vehicle_ 2_Skidding,Vehicle_3_Type,V3_Manouvres,V3_From_Direction,V3_To_Direction,V3_Location,V3_Skidding
0,2412,2012,1,3,1140,1198,60,0,0,2,...,SE,N,Approaching jnctn or waiting/parked,Skidded,Car,Slow or stopping,Parked,E,"Not at,or within 20m of, junction",Did not skid
1,2612,2012,1,3,1244,505,50,0,0,2,...,Parked,Parked,"Not at,or within 20m of, junction",Did not skid,Car,Slow or stopping,Parked,E,"Not at,or within 20m of, junction",Did not skid
2,2712,2012,1,3,1317,1,70,0,0,1,...,S,N,"Not at,or within 20m of, junction",Did not skid,Car,Slow or stopping,Parked,E,"Not at,or within 20m of, junction",Did not skid
3,2912,2012,12,21,15,0,30,0,0,2,...,S,N,Mid jnctn - on rbout or main road,Did not skid,Car,Slow or stopping,Parked,E,"Not at,or within 20m of, junction",Did not skid
4,3112,2012,1,3,1745,0,30,0,0,1,...,S,N,"Not at,or within 20m of, junction",Did not skid,Car,Slow or stopping,Parked,E,"Not at,or within 20m of, junction",Did not skid

<!-- Because ComlumTransformer return object, transfer to numeric features -->

Because ColumnsTransformer return object so we need to transfer some columns to numeric data

In [17]:
data[num_features] = data[num_features].apply(lambda x: pd.to_numeric(x, downcast='signed', errors='ignore'))

Check data again

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2319 entries, 0 to 2318
Data columns (total 53 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Reference                 2319 non-null   int32
 1   Year                      2319 non-null   int16
 2   Month                     2319 non-null   int8
 3   Day                       2319 non-null   int8
 4   Time                      2319 non-null   int16
 5   Main_rd_no                2319 non-null   int16
 6   Speed_limit               2319 non-null   int8
 7   Unnamed: 25               2319 non-null   int8
 8   Pedestrian_1_Age          2319 non-null   int8
 9   Number_Vehicles           2319 non-null   int8
 10  Easting                   2319 non-null   float64
 11  Northing                  2319 non-null   float64
 12  Day.1                     2319 non-null   object
 13  Severity                  2319 non-null   object
 14  Road_Class                2319 non-null   object
 15  Junction Detail           2319 non-null   object
 16  Light                     2319 non-null   object
 17  Weather                   2319 non-null   object
 18  Surface                   2319 non-null   object
 19  Cycle                     2319 non-null   object
 20  TWMV                      2319 non-null   object
 21  Child                     2319 non-null   object
 22  Child_Pedestrian          2319 non-null   object
 23  Ped                       2319 non-null   object
 24  Skid                      2319 non-null   object
 25  HGV                       2319 non-null   object
 26  LGV                       2319 non-null   object
 27  PSV                       2319 non-null   object
 28  School Journey            2319 non-null   object
 29  Pedestrian-1_Sex          2319 non-null   object
 30  Pedestrian_1_Severity     2319 non-null   object
 31  Pedestria_1_Location      2319 non-null   object
 32  Pedestrian-1_Movement     2319 non-null   object
 33  Pedestrian_1_Mov_To       2319 non-null   object
 34  Location                  2319 non-null   object
 35  Vehicle_1_Type            2319 non-null   object
 36  Vehicle_1_Manouvres       2319 non-null   object
 37  Vehicle_1_From_Direction  2319 non-null   object
 38  Vehicle_1_To_Direction    2319 non-null   object
 39  Vehicle_1_Location        2319 non-null   object
 40  Vehicle_1_Skidding        2319 non-null   object
 41  Vehicle_2_Type            2319 non-null   object
 42  Vehicle_2_Manouvres       2319 non-null   object
 43  Vehicle_2_From_Direction  2319 non-null   object
 44  Vehicle_2_To_Direction    2319 non-null   object
 45  Vehicle_2_Location        2319 non-null   object
 46  Vehicle_ 2_Skidding       2319 non-null   object
 47  Vehicle_3_Type            2319 non-null   object
 48  V3_Manouvres              2319 non-null   object
 49  V3_From_Direction         2319 non-null   object
 50  V3_To_Direction           2319 non-null   object
 51  V3_Location               2319 non-null   object
 52  V3_Skidding               2319 non-null   object
dtypes: float64(2), int16(3), int32(1), int8(6), object(41)
memory usage: 815.4+ KB

In [19]:
def preprocessing(df, infor):
    top_missing_features = infor.T[infor.T['missing_ratio'] >= 90].index.to_list()
    new_df= df.drop(columns=top_missing_features)
    new_df.drop(columns=["Date"], inplace=True)
    #
    cate_features = new_df.select_dtypes(include='object').columns.to_list()
    num_features = new_df.select_dtypes(exclude='object').columns.to_list()
    #
    num_imputer = [('num', SimpleImputer(missing_values= np.nan, strategy='mean'))]
    cate_imputer =[('cate', SimpleImputer(missing_values= np.nan, strategy='most_frequent'))]
    #
    tsf = ColumnTransformer([('num', Pipeline(num_imputer), num_features), ('cate', Pipeline(cate_imputer), cate_features)])
    new_df = pd.DataFrame(tsf.fit_transform(new_df), columns = [*num_features, *cate_features])
    #
    new_df[num_features] = new_df[num_features].apply(lambda x: pd.to_numeric(x, downcast='signed', errors='ignore'))
    return new_df