In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [2]:
path = "./data/road_traffic_collisions/road-traffic-collisions-"

In [3]:
data = 5*[None]
times = ["2012-5","2013-6", "2014-3", "2015-4", "2016-2"]
for i in range(5):
    i_path = path+times[i]+".xls"
    print(i_path)
    data[i] = pd.read_excel(i_path)

./data/road_traffic_collisions/road-traffic-collisions-2012-5.xls
./data/road_traffic_collisions/road-traffic-collisions-2013-6.xls
./data/road_traffic_collisions/road-traffic-collisions-2014-3.xls
./data/road_traffic_collisions/road-traffic-collisions-2015-4.xls
./data/road_traffic_collisions/road-traffic-collisions-2016-2.xls

In [4]:
df = data[0]

for i in range(1, len(data)):
    df = pd.concat([df, data[i]])

df.head()

,Reference,Date,Year,Month,Day,Day.1,Time,Severity,Road_Class,Main_rd_no,...,Vehicle_2_Location,Vehicle_ 2_Skidding,Vehicle_3_Type,V3_Manouvres,V3_From_Direction,V3_To_Direction,V3_Location,V3_Skidding,Easting,Northing
0,2412,20120103,2012,1,3,Tuesday,1140,Slight,A,1198,...,Approaching jnctn or waiting/parked,Skidded,NaN,NaN,NaN,NaN,NaN,NaN,525250.3192,269592.7491
1,2612,20120103,2012,1,3,Tuesday,1244,Slight,A,505,...,"Not at,or within 20m of, junction",Did not skid,NaN,NaN,NaN,NaN,NaN,NaN,546715.1485,246747.0387
2,2712,20120103,2012,1,3,Tuesday,1317,Serious,A,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,518665.2610,264848.0873
3,2912,20121221,2012,12,21,Friday,15,Serious,U,0,...,Mid jnctn - on rbout or main road,Did not skid,NaN,NaN,NaN,NaN,NaN,NaN,519514.8238,299836.2220
4,3112,20120103,2012,1,3,Tuesday,1745,Slight,U,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,542037.4532,296531.1881

Number of samples and features of raw data

In [5]:
df.shape

(10527, 54)

Number of duplicated samples

In [6]:
df.index.duplicated().sum()

8208

Number of missing values of each feature

In [7]:
df.isna().sum()

Reference                      0
Date                           0
Year                           0
Month                          0
Day                            0
Day.1                          0
Time                           0
Severity                       0
Road_Class                     0
Main_rd_no                     0
Junction Detail                0
Light                          0
Weather                        0
Surface                        0
Speed_limit                    0
Cycle                          0
TWMV                           0
Child                          0
Child_Pedestrian               0
Ped                            0
Skid                           0
HGV                            0
LGV                            0
PSV                            0
School Journey                 0
Unnamed: 25                    0
Pedestrian-1_Sex            9565
Pedestrian_1_Age               0
Pedestrian_1_Severity       9565
Pedestria_1_Location        9570
Pedestrian-1_Movement       9569
Pedestrian_1_Mov_To         9565
Location                       0
Number_Vehicles                0
Vehicle_1_Type                 3
Vehicle_1_Manouvres            2
Vehicle_1_From_Direction       7
Vehicle_1_To_Direction         7
Vehicle_1_Location             2
Vehicle_1_Skidding             2
Vehicle_2_Type              2687
Vehicle_2_Manouvres         2688
Vehicle_2_From_Direction    2690
Vehicle_2_To_Direction      2690
Vehicle_2_Location          2686
Vehicle_ 2_Skidding         2686
Vehicle_3_Type              9444
V3_Manouvres                9444
V3_From_Direction           9445
V3_To_Direction             9445
V3_Location                 9444
V3_Skidding                 9444
Easting                        0
Northing                       0
dtype: int64

Some properties of numeric data

In [8]:
df._get_numeric_data().describe()

,Reference,Date,Year,Month,Day,Time,Main_rd_no,Speed_limit,Unnamed: 25,Pedestrian_1_Age,Number_Vehicles,Easting,Northing
count,1.052700e+04,1.052700e+04,10527.000000,10527.000000,10527.000000,10527.000000,10527.000000,10527.000000,10527.000000,10527.000000,10527.000000,10527.000000,10527.000000
mean,2.201518e+06,2.014023e+07,2013.953738,6.811342,15.677306,1356.258478,455.269877,43.893797,0.094329,2.910991,1.884677,533811.386977,278329.104309
std,3.978220e+06,1.438720e+04,1.438738,3.466861,8.683451,496.542184,516.606169,16.218315,0.303149,11.412563,0.697162,14429.446087,19615.209907
min,1.120000e+02,2.012010e+07,2012.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,502042.269600,236372.418400
25%,8.801250e+04,2.013030e+07,2013.000000,4.000000,8.000000,934.000000,10.000000,30.000000,0.000000,0.000000,1.000000,519381.447550,259546.035000
50%,2.062120e+05,2.014060e+07,2014.000000,7.000000,16.000000,1418.000000,198.000000,30.000000,0.000000,0.000000,2.000000,535325.998200,274386.057100
75%,3.034363e+06,2.015101e+07,2015.000000,10.000000,23.000000,1730.000000,1086.000000,60.000000,0.000000,0.000000,2.000000,545938.810000,298627.463050
max,2.017212e+07,2.016123e+07,2016.000000,12.000000,31.000000,2357.000000,6118.000000,70.000000,3.000000,95.000000,9.000000,570844.979400,317908.508900

Some features of categorical features

In [9]:
cate_features = df.select_dtypes(include='object').columns.to_list()

In [10]:
pd.set_option('display.max_colwidth', 200)
def missing_ratio(df):
    return (df.isna().mean() * 100).round(1)
def num_values(df):
    return df.nunique()
def value_ratios(c):
    return dict((c.value_counts(normalize=True) * 100).round(1))
infor = df[cate_features].agg([missing_ratio, num_values, value_ratios])
infor.T

,missing_ratio,num_values,value_ratios
Day.1,0,7,"{'Friday': 17.0, 'Tuesday': 15.5, 'Wednesday': 15.5, 'Thursday': 15.5, 'Monday': 15.1, 'Saturday': 12.0, 'Sunday': 9.5}"
Severity,0,3,"{'Slight': 83.6, 'Serious': 14.9, 'Fatal': 1.5}"
Road_Class,0,6,"{'A': 45.6, 'U': 20.1, 'C': 19.3, 'B': 13.5, 'M': 0.9, 'A(M)': 0.5}"
Junction Detail,0,9,"{'Not at junction': 44.1, ''T'/staggered junctn': 26.9, 'Roundabout': 13.2, 'Private drive/entry': 7.1, 'Cross roads': 4.8, 'Slip road': 1.7, 'Uncoded junction': 1.1, 'Mini-roundabout': 0.9, 'Junc..."
Light,0,2,"{'Day': 73.8, 'Dark': 26.2}"
Weather,0,9,"{'Fine (no wind)': 77.5, 'Rain (no wind)': 10.4, 'Unknown': 5.2, 'Uncoded': 2.8, 'Fine & windy': 1.6, 'Raining & windy': 1.0, 'Fog/mist': 1.0, 'Snow (no wind)': 0.4, 'Snowing & windy': 0.0}"
Surface,0,6,"{'Dry': 68.3, 'Wet/damp': 29.8, 'Frost/Ice': 1.5, 'Snow': 0.3, 'Unknown': 0.2, 'Flood >3cm': 0.1}"
Cycle,0,2,"{'N': 77.8, 'Y': 22.2}"
TWMV,0,2,"{'N': 88.2, 'Y': 11.8}"
Child,0,2,"{'N': 89.8, 'Y': 10.2}"
Child_Pedestrian,0,2,"{'N': 97.4, 'Y': 2.6}"
Ped,0,2,"{'N': 90.9, 'Y': 9.1}"
Skid,0,2,"{'N': 79.5, 'Y': 20.5}"
HGV,0,2,"{'N': 93.4, 'Y': 6.6}"
LGV,0,2,"{'N': 91.5, 'Y': 8.5}"
PSV,0,2,"{'N': 98.2, 'Y': 1.8}"
School Journey,0,2,"{'N': 99.0, 'Y': 1.0}"
Pedestrian-1_Sex,90.9,3,"{'Male': 57.0, 'Female': 42.9, 'Not known': 0.1}"
Pedestrian_1_Severity,90.9,4,"{'Slight': 75.6, 'Serious': 22.6, 'Fatal': 1.8, 'Unhurt': 0.1}"
Pedestria_1_Location,90.9,10,"{' In c/w and crossing road': 44.8, ' On footway/verge': 16.3, ' In c/w not crossing': 12.6, ' In c/w on pedestrian Xing': 12.1, ' In c/w within 50m of Xing': 5.9, ' Unknown': 5.1, ' In cntr c/w n..."
Pedestrian-1_Movement,90.9,9,"{'Crossing from driver's nearside': 29.6, 'Not known': 24.7, 'Crossing from driver's offside': 19.0, 'In c/w standing/playing': 7.7, 'Crossing from driver's nearside (masked)': 6.5, 'Crossing from..."
Pedestrian_1_Mov_To,90.9,10,"{'Unknown': 18.9, 'Standing still': 15.0, 'Towards E': 13.6, 'Towards W': 13.5, 'Towards N': 12.1, 'Towards S': 11.1, 'Towards SW': 4.6, 'Towards NE': 3.8, 'Towards NW': 3.7, 'Towards SE': 3.6}"
Location,0,10126,"{'PARK RD JUNCTION BURGHLEY RD PETERBOROUGH': 0.1, 'A1139 FLETTON PARKWAY PETERBOROUGH': 0.1, 'A141 ISLE OF ELY WAY JUNCTION GAUL RD MARCH': 0.0, 'A1307 HILLS RD JUNCTION CORONATION ST CAMBRIDGE':..."
Vehicle_1_Type,0,18,"{'Car': 74.5, 'Van/GV <=3.5t mgw': 5.4, 'Pedal cycle': 4.6, 'GV >= 7.5t mgw': 3.4, 'Motorcycle >500cc': 2.4, 'Motorcycle >50 <= 12': 2.3, 'Taxi/private hire ca': 2.2, 'Bus or coach >16 sea': 1.2, ..."
Vehicle_1_Manouvres,0,18,"{'Going ahead': 41.3, 'Turning right': 12.5, 'Slow or stopping': 7.7, 'Moving off': 6.9, 'Going ahead right hand bend': 5.5, 'Going ahead left hand bend': 5.2, 'Turning left': 5.2, 'Ovrtking movin..."
Vehicle_1_From_Direction,0.1,9,"{'N': 13.6, 'S': 13.4, 'W': 11.9, 'E': 11.3, 'NW': 10.9, 'SE': 10.5, 'SW': 10.2, 'NE': 9.7, 'Parked': 8.5}"
Vehicle_1_To_Direction,0.1,9,"{'N': 13.8, 'S': 13.4, 'E': 11.5, 'W': 11.2, 'NW': 10.6, 'SE': 10.6, 'NE': 10.1, 'SW': 10.0, 'Parked': 8.7}"
Vehicle_1_Location,0,9,"{'Not at,or within 20m of, junction': 44.2, 'Approaching jnctn or waiting/parked': 15.5, 'Entering main road': 11.5, 'Mid jnctn - on rbout or main road': 10.2, 'Leaving main road': 7.0, 'Entering ..."
Vehicle_1_Skidding,0,6,"{'Did not skid': 80.2, 'Skidded': 12.2, 'Skidded/ovrtn': 4.6, 'Overturned': 2.9, 'Jackknifed': 0.1, 'Jacknfe/ovrtn': 0.0}"
Vehicle_2_Type,25.5,20,"{'Car': 58.5, 'Pedal cycle': 23.9, 'Van/GV <=3.5t mgw': 3.8, 'GV >= 7.5t mgw': 2.6, 'Motorcycle >500cc': 2.6, 'Motorcycle >50 <= 12': 2.3, 'Taxi/private hire ca': 1.4, 'Motorcycle <=50cc': 1.1, 'M..."
Vehicle_2_Manouvres,25.5,18,"{'Going ahead': 46.9, 'Slow or stopping': 13.2, 'Waiting to go ahd but held up': 9.6, 'Turning right': 6.3, 'Parked': 4.5, 'Going ahead right hand bend': 3.2, 'Moving off': 2.7, 'Going ahead left ..."
Vehicle_2_From_Direction,25.6,9,"{'N': 13.6, 'S': 13.6, 'W': 11.0, 'E': 10.9, 'SW': 10.8, 'SE': 10.5, 'Parked': 10.3, 'NW': 10.3, 'NE': 8.9}"
Vehicle_2_To_Direction,25.6,9,"{'N': 13.5, 'S': 13.4, 'E': 11.5, 'W': 10.9, 'Parked': 10.9, 'NE': 10.4, 'SE': 10.3, 'NW': 9.9, 'SW': 9.1}"
Vehicle_2_Location,25.5,9,"{'Not at,or within 20m of, junction': 36.6, 'Mid jnctn - on rbout or main road': 29.2, 'Approaching jnctn or waiting/parked': 20.0, 'Leaving main road': 3.2, 'Entering main road': 3.1, 'Cleared jn..."
Vehicle_ 2_Skidding,25.5,6,"{'Did not skid': 91.2, 'Skidded': 4.8, 'Overturned': 2.4, 'Skidded/ovrtn': 1.6, 'Jackknifed': 0.0, 'Jacknfe/ovrtn': 0.0}"
Vehicle_3_Type,89.7,14,"{'Car': 81.8, 'Van/GV <=3.5t mgw': 6.4, 'GV >= 7.5t mgw': 3.7, 'Pedal cycle': 2.6, 'Taxi/private hire ca': 1.3, 'GV >3.5 < 7.5t mgw': 0.9, 'GV - unknown weight': 0.9, 'Motorcycle >500cc': 0.6, 'Mo..."
V3_Manouvres,89.7,16,"{'Slow or stopping': 28.3, 'Going ahead': 26.5, 'Waiting to go ahd but held up': 19.8, 'Parked': 11.7, 'Waiting to turn right': 4.4, 'Going ahead left hand bend': 2.0, 'Going ahead right hand bend..."
V3_From_Direction,89.7,9,"{'Parked': 15.8, 'W': 12.4, 'N': 11.7, 'S': 11.6, 'SE': 11.4, 'NW': 10.4, 'E': 10.2, 'SW': 9.7, 'NE': 6.9}"
V3_To_Direction,89.7,9,"{'Parked': 16.9, 'E': 13.3, 'S': 11.5, 'NW': 11.1, 'N': 11.0, 'SE': 10.2, 'W': 10.0, 'NE': 9.3, 'SW': 6.7}"
V3_Location,89.7,9,"{'Not at,or within 20m of, junction': 58.8, 'Approaching jnctn or waiting/parked': 24.1, 'Mid jnctn - on rbout or main road': 7.8, 'Cleared jnctn or waiting/parked at': 3.6, 'Entering from slip ro..."
V3_Skidding,89.7,4,"{'Did not skid': 95.5, 'Skidded': 3.7, 'Skidded/ovrtn': 0.5, 'Overturned': 0.4}"

Select features having large missing ratio and drop them
We also drop "Date" feature because there have already been year, month, day features

In [11]:
top_missing_features = infor.T[infor.T['missing_ratio'] >= 90].index.to_list()
top_missing_features

['Pedestrian-1_Sex',
 'Pedestrian_1_Severity',
 'Pedestria_1_Location',
 'Pedestrian-1_Movement',
 'Pedestrian_1_Mov_To']

In [12]:
data= df.drop(columns=top_missing_features,)
data.drop(columns=["Date"], inplace=True)

Using SimpleImputer to fill missing values of data

In [13]:
cate_features = data.select_dtypes(include='object').columns.to_list()
num_features = data.select_dtypes(exclude='object').columns.to_list()

In [14]:
data[num_features].head(2)

,Reference,Year,Month,Day,Time,Main_rd_no,Speed_limit,Unnamed: 25,Pedestrian_1_Age,Number_Vehicles,Easting,Northing
0,2412,2012,1,3,1140,1198,60,0,0,2,525250.3192,269592.7491
1,2612,2012,1,3,1244,505,50,0,0,2,546715.1485,246747.0387

In [15]:
data[cate_features].head(2)

,Day.1,Severity,Road_Class,Junction Detail,Light,Weather,Surface,Cycle,TWMV,Child,...,Vehicle_2_From_Direction,Vehicle_2_To_Direction,Vehicle_2_Location,Vehicle_ 2_Skidding,Vehicle_3_Type,V3_Manouvres,V3_From_Direction,V3_To_Direction,V3_Location,V3_Skidding
0,Tuesday,Slight,A,'T'/staggered junctn,Day,Raining & windy,Wet/damp,N,N,N,...,SE,N,Approaching jnctn or waiting/parked,Skidded,NaN,NaN,NaN,NaN,NaN,NaN
1,Tuesday,Slight,A,Not at junction,Day,Fine (no wind),Wet/damp,N,N,N,...,Parked,Parked,"Not at,or within 20m of, junction",Did not skid,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
num_imputer = [('num', SimpleImputer(missing_values= np.nan, strategy='mean'))]
cate_imputer =[('cate', SimpleImputer(missing_values= np.nan, strategy='most_frequent'))]

In [17]:
tsf = ColumnTransformer([('num', Pipeline(num_imputer), num_features), ('cate', Pipeline(cate_imputer), cate_features)])
data = pd.DataFrame(tsf.fit_transform(data), columns = [*num_features, *cate_features])
data.head(3)

,Reference,Year,Month,Day,Time,Main_rd_no,Speed_limit,Unnamed: 25,Pedestrian_1_Age,Number_Vehicles,...,Vehicle_2_From_Direction,Vehicle_2_To_Direction,Vehicle_2_Location,Vehicle_ 2_Skidding,Vehicle_3_Type,V3_Manouvres,V3_From_Direction,V3_To_Direction,V3_Location,V3_Skidding
0,2412,2012,1,3,1140,1198,60,0,0,2,...,SE,N,Approaching jnctn or waiting/parked,Skidded,Car,Slow or stopping,Parked,Parked,"Not at,or within 20m of, junction",Did not skid
1,2612,2012,1,3,1244,505,50,0,0,2,...,Parked,Parked,"Not at,or within 20m of, junction",Did not skid,Car,Slow or stopping,Parked,Parked,"Not at,or within 20m of, junction",Did not skid
2,2712,2012,1,3,1317,1,70,0,0,1,...,N,N,"Not at,or within 20m of, junction",Did not skid,Car,Slow or stopping,Parked,Parked,"Not at,or within 20m of, junction",Did not skid

Because ColumnsTransformer return object so we need to transfer some columns to numeric data

In [18]:
data[num_features] = data[num_features].apply(lambda x: pd.to_numeric(x, downcast='signed', errors='ignore'))

Check data again

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10527 entries, 0 to 10526
Data columns (total 48 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Reference                 10527 non-null  int32
 1   Year                      10527 non-null  int16
 2   Month                     10527 non-null  int8
 3   Day                       10527 non-null  int8
 4   Time                      10527 non-null  int16
 5   Main_rd_no                10527 non-null  int16
 6   Speed_limit               10527 non-null  int8
 7   Unnamed: 25               10527 non-null  int8
 8   Pedestrian_1_Age          10527 non-null  int8
 9   Number_Vehicles           10527 non-null  int8
 10  Easting                   10527 non-null  float64
 11  Northing                  10527 non-null  float64
 12  Day.1                     10527 non-null  object
 13  Severity                  10527 non-null  object
 14  Road_Class                10527 non-null  object
 15  Junction Detail           10527 non-null  object
 16  Light                     10527 non-null  object
 17  Weather                   10527 non-null  object
 18  Surface                   10527 non-null  object
 19  Cycle                     10527 non-null  object
 20  TWMV                      10527 non-null  object
 21  Child                     10527 non-null  object
 22  Child_Pedestrian          10527 non-null  object
 23  Ped                       10527 non-null  object
 24  Skid                      10527 non-null  object
 25  HGV                       10527 non-null  object
 26  LGV                       10527 non-null  object
 27  PSV                       10527 non-null  object
 28  School Journey            10527 non-null  object
 29  Location                  10527 non-null  object
 30  Vehicle_1_Type            10527 non-null  object
 31  Vehicle_1_Manouvres       10527 non-null  object
 32  Vehicle_1_From_Direction  10527 non-null  object
 33  Vehicle_1_To_Direction    10527 non-null  object
 34  Vehicle_1_Location        10527 non-null  object
 35  Vehicle_1_Skidding        10527 non-null  object
 36  Vehicle_2_Type            10527 non-null  object
 37  Vehicle_2_Manouvres       10527 non-null  object
 38  Vehicle_2_From_Direction  10527 non-null  object
 39  Vehicle_2_To_Direction    10527 non-null  object
 40  Vehicle_2_Location        10527 non-null  object
 41  Vehicle_ 2_Skidding       10527 non-null  object
 42  Vehicle_3_Type            10527 non-null  object
 43  V3_Manouvres              10527 non-null  object
 44  V3_From_Direction         10527 non-null  object
 45  V3_To_Direction           10527 non-null  object
 46  V3_Location               10527 non-null  object
 47  V3_Skidding               10527 non-null  object
dtypes: float64(2), int16(3), int32(1), int8(6), object(36)
memory usage: 3.2+ MB